*
!.gitignore
!example_bot.py
!oldmine_strategy.py
!explore_strategy.py
!test_bot.py
!test_explore_bot.py
!test_newmine_bot.py
!newmine_strategy.py
!win_now_strategy.py
!Bot_Submission1.py
!win_now_strategy_v2.py
!explore_bot.py
